<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <title>Humhelp</title>
  </head>
  <body>
    <div class="left-side">
      <div id="navbar"></div>
      <div id="header"></div>
    </div>
    <div id="app">
      Now loading family-map...
    </div>
    <div id="footer"></div>
    <!-- scripts and styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}
    {% style "/css/style.css" %}
    <script type="text/javascript">
     var context = "{{servlet-context}}";
     var csrfToken = "{{csrf-token}}";
     var username = "{{username}}";
    </script>
    {% script "/assets/tether/dist/js/tether.min.js" %}
    {% script "/assets/jquery/jquery.min.js" %}
    {% script "/assets/bootstrap/js/bootstrap.min.js" %}
    {% script "/js/app.js" %}
  </body>
</html>




