.footer {
  background-color: #002e5d;
}

html, body {
  background: #fff;
  font-family: Arial;
  height: 100%;
}

div {
  padding: 8px;
}

.navbar {
  border-radius: 0 !important;
  padding: 0 !important;
  background-color: #002e5d;
  color: #fff;
}

.navbar-toggler {
  float: right;
  padding-right: 50px;
  color: #fff;
}

.navbar-brand {
  padding: 12px;
  font-weight: bold;
  font-size: 26px;
  margin: 0px !important;
  text-align: center;
}

.nav-item {
  font-size: 20px;
  padding: 6px;
}

a {
  color: #002e5d;
}

.navbar ul li {
  color: #fff;
  padding: 6px;
  font-size: 20px;
}

.navbar ul li a {
  color: #fff;
  font-size: 20px;
}

.left-nav {
  width: auto;
  height: 100%;
}

.right-nav {
  width: auto;
  height: 100%;
}

.left-side {
  width: 200px;
  height: 100%;
  float: left;
  padding: 0;
  padding-right: 20px;
}

.right-side {
  float: none;
  width: auto;
  height: auto;
  overflow: hidden;
  padding: 0;
}

.header-bar {
  color: #fff;
  padding: 0;
  margin: 0;
}

.header-left {
  float: left;
  width: 100%;
  background: #002e5d;
}

.header-left input {
  display: inline-block;
  width: auto;
  height: 24px;
  margin-left: 4px;
  margin-right: 4px;
}

.header-left button {
  display: inline-block;
  height: 22px;
  margin-bottom: 2px;
  color: #002e5d;
}

#time-right {
  float: right;
}

.custom-breadcrumb {
  color: #002e5d;
  font-size: 20px;
}

.unread-memos, .resolved-jobs {
  background: #002e5d;
  color: #fff;
  font-size: 16px;
}

.open-jobs {
  background: #002e5d;
  color: #fff;
  margin-bottom: 0px;
  font-size: 16px;
  width: 100%;
}

.page-sort {
  margin-left: 4px;
  padding-left: 0;
  padding: 0;
  display: inline-block;
}

.job-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.badge {
  -webkit-border-radius: 2px;
  padding: 2px 4px;
  font-weight: bold;
  margin-left: 4px;
  font-size: 16px;
  background-color: #ddd;
  border-radius: 2px;
  -moz-border-radius: 2px;
  color: #fff;
}

.badge-veryhigh {
  background-color: #ed1c24;
}

.badge-high {
  background-color: #ff7f27;
}

.badge-med {
  background-color: #00a2e8;
}

.badge-low {
  background-color: #22b14c;
}

.done-by {
  display: block;
}

.urgency-cell {
  width: 40px;
}

table th {
  min-width: 60px;
  font-size: 12px;
  font-weight: bold;
}

table td, table th {
  text-align: center;
  vertical-align: middle !important;
  border: 1px solid !important;
  padding: 4px !important;
  color: #002e5d;
}

.title-cell {
  text-align: left;
}

.category {
  line-height: 44px;
  vertical-align: middle;
}

.small-id {
  font-size: 10px;
}

.breadarrow {
  margin-left: 4px;
  margin-right: 4px;
}

.fa-caret-up, .fa-caret-down {
  margin: -6px 6px;
  color: #ddd;
  float: right;
}

.btn {
  color: #002e5d;
  padding: 0px 4px;
  margin-left: 4px;
}

.highly-urgent {
  color: #ed1c24;
}

.reg-urgent {
  color: #ff7f27;
}

.med-urgent {
  color: #00a2e8;
}

.low-urgent {
  color: #22b14c;
}

@media screen and (max-width: 500px) {

  table {
    overflow-x: auto;
    display: block;
  }

}

@media screen and (max-width: 992px) {

  .left-side {
    display: none;
  }

}

@media screen and (min-width: 992px) {

  .right-nav {
    display: block;
  }

}

#modal-id {
  background-color: green;
  font-weight: 300;
}

#modal-id {
  background-color: blue;
  font-weight: 1500;
}

#footer .footer a {
  color: white;
}